{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>{% block title %}Frequently Asked Questions{% endblock %}</title>
<div class="mask">
    <div class="col-12 text-center my-3">
        <h1 class="bg-banner text-white p-2 mb-3">
            What are some of the most Frequently asked questions?
        </h1>
    </div>
    
</div>
<div class="col 6 text-center my-3">
    <h3 class="bg-banner text-dark p-2 mb-3">Will my audio be secure?</h3>
    <p>
        As mentioned above, we do all our file sharing within Dropbox for security. In addition, all our
        transcriptionists sign NDAs, including a section on computer and file security. When your transcript is
        complete, all audio and transcripts will be fully deleted from all systems.
    </p>


    <h3>What audio can be transcribed?</h3>
    <p>Scribes Alive have years of experience transcribing a huge variety of audio including interviews, focus
        groups, podcasts, disciplinary hearings, speeches, dictation, meetings and roundtable discussions. If you
        have audio you need in the written word, we can do it!</p>

    <h3>What if my audio is not very good or a word cannot be understood?</h3>
    <p>Whilst our transcribers will always try to produce a complete transcript, sometimes
        occasional words cannot be understood, or a name or technical phrase cannot be confirmed
        with research. In this instance, we will add a timestamp to your transcript with either
        a best guess or an inaudible. It is important for accuracy that our transcribers do not
        guess or make up what they think they have heard, we will always come back to you for
        confirmation.</p>



    <h3>I have an AI generated transcript, can that be edited and proofed?</h3>
    <p>We are happy to discuss this with you. We will need to review the audio and transcript
        first and discuss your needs. More often than not, it is faster, easier and cheaper for
        our team to transcribe it from scratch.</p>

    <h3>How do you share your files?</h3>
    <p>To keep your audios and transcripts secure we share everything with you and our staff
        using Dropbox. If you have another method you would like to use we would be happy to discuss
        that further with you. We can work with all file types, but if you are unsure, just ask us.
        On rare occasions a file conversion may be necessary.</p>



    <h3>How fast can I get my transcript?</h3>
    <p>We offer a variety of turnaround times and price structures. With our core team,
        and extended team for larger projects, we can meet quick turnarounds and projects of most
        sizes. As part of the work-life balance ethic in our team, we maintain, wherever possible,
        a working week structure that suits each team member. This works in our favor and yours for
        turnaround times, as between us we have a variety of times we can work and like to work.
        For return of your transcripts, turnaround times refer to Monday to Friday, 9am – 5pm.
        However, if you have an urgent file, just contact us so we can plan out a timeframe to
        suit your needs.</p>

    <h3>How much will it cost and how do I pay?</h3>
    <p>Audio transcription is charged at price per audio minute. This price will vary depending
        on the turnaround time. Contact us for details of our pricing structure. You will be invoiced
        upon completion of your project. Our preferred payment method is bank transfer, but we are
        happy to accommodate your organisation’s finance structure. </p>

    <h3>How will my transcript be returned?</h3>
    <p>You will be sent a link for Dropbox to download your transcript once complete. All
        transcripts are created in Microsoft Word unless another format is required. We have a
        basic template that suits most client’s needs, however we can create a template specific
        for your project or use one you provide. </p>

    <h3>What next?</h3>
    <p>Get in touch with us to discuss your project! Once we know what you require we can create
        a quote, get your files uploaded, and have your transcripts back within your timeframe.</p>
</div>
{% endblock %}