/*  every page */
body{
    font-family: 'Cormorant Garamond', serif;
  }
  p {
  font-family: 'Montserrat', sans-serif;
  }


.bg-image {
    /* background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp'); */
    background-image: url(../images/2.jpeg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 33vh;
    background-color: #f3f3f3;

}
.mask {
    background-color: #8b94cb;
    width: 100%;
    height: 100%;
}
/* pricing */
.card-default {
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}
.uk-card-body {
    padding: 30px 30px;
}

.pricing {
    border-bottom:2px solid #f36958;
    border-top:2px solid #f36958;
    width: 100%;
}

.attention {
    color: #8b94cb;
    width: 100%;
}
.custom-backgound {
    color: rgb(107, 104, 104);
    width: 100%
}
/* modal */

.contactform {
    background-image: url('https://images.unsplash.com/photo-1567360425618-1594206637d2?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w1MjA2OTh8MHwxfGNvbGxlY3Rpb258Mnw5NTI1MjI2fHx8fHwyfHwxNjk4NDE3OTE5fA&ixlib=rb-4.0.3&q=80&w=1080'); /* Specify the path to your background image */
    background-size: cover; /* Cover the entire container */
    background-repeat: no-repeat; /* Do not repeat the background image */
    padding: 50px; /* Add padding to the container */
    border-radius: 10px; /* Add rounded corners */
    margin: 30px;
  }

.contactform {
    color: rgb(218, 207, 209);
}
@media (max-width: 576px) {
.bg-banner {
    font-size: 1.5rem; 
}
}
@media (max-width: 772px) {
      /* Center the text within the columns */
.costing label,
.costing input,
.costing button {
    text-align: center;
}

/* Center the button horizontally */
.costing button {
    margin: 0;
}

/* Center the text within the labels */
.costing label {
    display: flex;
    justify-content: center;
}

    }